{% extends 'base.html' %}

{% load static %}

{% block title_content%}
Giỏ hàng
{% endblock title_content %}

{% block link_content%}
    <link rel="stylesheet" href="{% static "css/cart.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock link_content %}

{% block content %}
<div class="cart_content">
    <div class="row col-10 cart_container">
        <div class="col-8 products_container">
            {% for product in cart_products %}
                <div class="row product_container" data-index="{{product.product_id}}">
                    <div class="col-5 image_container">
                            <img src="{% static 'image/product/'|add:product.img_url %}" alt="img_product" class="img_product">
                    </div>

                    <div class="row col-7 info_container"> 
                        <div class="row tmp" >
                            <div class="col-10 sub_info_container">
                                <p class="product_name"> {{ product.product_name}} </p>
                                <p class="product_description"> {{ product.description }} </p>
                                
                                <div class="row">
                                    {% for key,value in mycart.items %}
                                        {% if key == product.product_id|slugify %}
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="addon-wrapping">Số lượng</span>
                                            <input type="text" class="quantity_input form-control" placeholder="Số lượng" min="1" data-index="{{product.product_id}}" value="{{value}}" aria-label="Username" aria-describedby="addon-wrapping">
                                          </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
    
                            <div class="col-2 price_container">

                                {% for key,value in total_of_product.items %}
                                    {% if key == product.product_id|slugify %}
                                        <span id="price" class="price" data-index={{ product.product_id }}>{{ value }}₫</span>
                                    {% endif %}
                                {% endfor %}
                                    
                            </div>
                        </div>

                        <div class="row icon_container">
                            <div class="col-2">
                                <button type="button" data-index="{{product.product_id}}" class="btn btn_delete delete_product">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
{% if mycart %}
        <div class="col-4 summary_container">
            <h2>Thông tin giỏ hàng</h2>

            <div class="row total_container">
                <div class="item">
                    <p>Tổng cộng:</p> 
                    <p id="subtotal">{{subtotal}}₫</p>              
                </div>

                <div class="item">
                    <p>Giảm giá:</p> 
                    <p id="discount">{{discount}}%</p>      
                </div>

                <div class="item total">
                    <p>Tổng cộng:</p> 
                    <p id="total">{{total}}₫</p>              
                </div>
            </div>


            <div class="row">
                <a href="{% url 'checkout_app:checkout' %}">
                    <button type="button" class="checkout_btn btn btn-secondary">
                        Thanh toán
                    </button>
                </a>
            </div>
        </div>        
    </div>
{% else %}
<h3>Bạn chưa thêm sản phẩm nào vào giỏ hàng</h3>
<h3>
    <a href="{% url "shop_app:shop" %}">
        Bắt đầu mua sắm --->
    </a>
</h3>
{% endif %}
</div>

<script>
    // Xóa sản phẩm trong giỏ hàng
    $(document).on('click', '.delete_product', function(e){
        e.preventDefault();
        var productid = $(this).data('index');
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_app:cart_delete' %}',
            data: {
                product_id: productid,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            success: function(json){
                obj = $('.product_container[data-index="' + productid + '"]');
                obj.remove()

                $('#subtotal').html(json.subtotal + '₫')
                $('#total').html(json.total + '₫')
                $('#discount').html(json.discount + '%')
            },
    
            error: function(xhr, errmsg, err){
            }
        });
    });

    // Cập nhật
    $(document).on('change', '.quantity_input', function(e){
        var value = $(this).val();
        if (value < 1) {
            $(this).val(1);
        }
        else if (value > 10) {
            $(this).val(10);
        }

        var productid = $(this).data('index');
        

        $.ajax({
            type: 'POST',
            url: '{% url 'cart_app:cart_update' %}',
            data: {
                product_id: productid,
                product_qty: $(this).val(),
                total: $('#subtotal').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            success: function(json){
                var price = json.price;
                $('.price[data-index="' + productid + '"]').html(price + '₫');

                $('#subtotal').html(json.subtotal + '₫')
                $('#total').html(json.total + '₫')
                $('#discount').html(json.discount + '%')
                $("#cart_quantity").html(json.qty)
            },
    
            error: function(xhr, errmsg, err){
            }
        });
    });
</script>

{% endblock content %}