{% extends 'base.html' %}
{% load static %}

{% block title_content%}
Order Detail
{% endblock title_content%}

{% block link_content%}
<link rel="stylesheet" href="{% static "css/order_detail.css" %}">
{% endblock link_content %}

{% block product%}{% endblock product%}

{% block content%}

<div class="order_content">
  <div class="row col-9 order_container">
      <div class="col-8 products_container">
          {% for order_detail in order_details %}
              <div class="row product_container" data-index="{{product.product_id}}">
                  <div class="col-4 image_container">
                    <img src="{% static 'image/product/'|add:order_detail.product.img_url %}" alt="img_product" class="img_product">
                  </div>

                  <div class="row col-8 info_container"> 
                      <div class="row tmp" >
                          <div class="col-10 sub_info_container">
                              <p class="product_name"> {{ order_detail.product.product_name}} </p>
                              <p class="product_description"> {{ order_detail.product.description }} </p>
                              <p class="product_quantity">Số lượng: {{ order_detail.quantity }} </p>
                          </div>
  
                          <div class="col-2 price_container">
                            <span class="price">{{ order_detail.subtotal }}₫</span>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>    
      
      <div class="col-4 summary_container">
        <h2>Thông tin đơn hàng</h2>
        <div class="row total_container">
            <div class="item">
                <p>Ngày đặt hàng:</p> 
                <p>{{order.order_date|date:"d/m/y"}}</p>              
            </div>

            <div class="item"> 
              <p>Tổng số sản phẩm:</p> 
              <p>{{order.quantity}}</p>
            </div>

            <div class="item total">
              <p>Tổng cộng:</p> 
              <p>{{order.total}}₫</p>
            </div>

        </div>
    </div>
  </div>
</div>
{% endblock content%}
