{% extends 'base.html' %}

{% block title_content%}TRANG ĐĂNG KÍ{% endblock title_content%}

{% block banner%}{% endblock banner%}

{% block link_content%}
{% endblock link_content %}

{% block register_content%}
    <h1>Trang đăng kí</h1>
    <form action="{% url 'account_app:register_user' %}" method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary" >
            Register
        </button>
    </form>
{% endblock register_content%}