.cart_content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product_container{
    padding: 15px 0;
    border-bottom: 2px solid #e5e5e5;   
    height: fit-content;
}

img {
    width: 85%;
}

.icon_container{
    position: relative;
    height: 20%;
}

.btn_delete {
    display: inline-block; 
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
.btn_delete i {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: bottom;
    align-items: end;
  }


.summary_container>*{
    padding: 5px 0;
}

input{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.product_name{
    font-weight: bold;
    font-size: 18px;
}

.tmp{
    height: 70%;
}
.product_description{
    font-size: 13px;
}
.image_container{
    text-align: center;
}
.info_container{
    display: flex;
    text-wrap:wrap;
}
i{
    font-size: 28px;
}




.item > div {
    width: 100%;
}

.item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item > p{
    width: fit-content;
    font-size: 20px;
}

.sub_info_container{
    font-size: 14px;
}

.total{
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;   
    border-bottom: 1px solid #e5e5e5;  
    float: left;
}

.checkout_btn{
    width: 100%;
}